*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.first-screen{
    background: url(../img/Rectangle\ 2.png) no-repeat;
    color: #ffffff;
    z-index: 1; 
}

.top__menu{
    background-color: rgba(00, 91, 193, 0.6);
    padding: 30px 0px;
    display: flex;
}
.top__menu img{
    position: absolute;
    width: 150px;
    left: 40px;
    top: 9px;
}

.top__menu__nav{
    width: 450px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
}
.top__menu__nav a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.first-screen__content{
    position: relative;
    padding: 100px 0 100px 30%;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first-screen__content__text{
    z-index: 1;
}
.first-screen__content__text h1{
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.first-screen__content__text p{
    font-size: 16px;
    margin: 40px 0;
    font-family: 'Open Sans', sans-serif;
}
.first-screen__content__text button{
    color: #ffffff;
    border: 2px solid #ffffff;
    background: none;
    padding: 10px 30px;
}

.first-screen__content__rect{
    background-color: rgba(00, 91, 193, 0.6);
    width: 300px;
    height: 100%;
    position: absolute;
    left: 30%;
    z-index: 0;
}

.main{
    margin: 0 auto;
    width: 838px;
    height: 200px;
}

.slider{
    margin: 100px 0;
    color: #343434;
}
.slider-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.slider-heading{
    display: flex;
}
.slider-heading h1{
    margin-left: 30px; 
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
.slider-heading img{
    object-fit: contain;
}
.slider-menu__buttons{
    display: flex;
}
.arrow {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid #005BC1;
  }
.arrow2{
    border-left: none;
}
  .arrow:after {
    position: absolute;
    top: 40%;;
    left: 45%;
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-left: 1px solid #005BC1;
    border-bottom: 1px solid #005BC1;
    transform: rotate(45deg);
  }
  .arrow2:after{
    transform: rotate(225deg);
    left: 35%;
  }
.slider__blocks{
    display: flex;
    justify-content: space-between;
}
.slider__block{
    position: relative;
    width: 400px;
    height: 260px;
}
.slider__block img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__block__text{
    width: 150px;
    padding: 10px 20px;
    position: absolute;
    color: #343434;
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    right: 15px;
    bottom: 15px;
}
.slider__block__text h1{
    font-size: 18px;
    font-weight: lighter;
}
.slider__block__text p{
    font-size: 14px;
}
