*{
    margin: 0;
    padding: 0;
}

.flex-space{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.first-screen{
    width: 100%;
    background: url(../img/Rectangle\ 2.png) no-repeat center;
    color: #ffffff;
    z-index: 1; 
}

.top__menu{
    background-color: rgba(00, 91, 193, 0.6);
    padding: 30px 0px;
    display: flex;
}
.top__menu img{
    position: absolute;
    width: 150px;
    left: 40px;
    top: 9px;
}

.top__menu__nav{
    width: 454px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
}
.top__menu__nav a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.first-screen__content{
    position: relative;
    padding: 100px 0 100px 0;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first-screen__content__text{
    z-index: 1;
    padding: 0 470px 0 190px;
}
.first-screen__content__text h1{
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.first-screen__content__text p{
    font-size: 16px;
    margin: 40px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.first-screen__content__text button{
    color: #ffffff;
    border: 2px solid #ffffff;
    background: none;
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    outline: none;
}
.first-screen__content__text button:hover{
    background: #ffffff;
    color: #005BC1;
    cursor: pointer;
    outline: none;
}
.first-screen__content__rect{
    background-color: rgba(00, 91, 193, 0.6);
    width: 300px;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.conteiner{
    margin: 0 auto;
    width: 1110px;
}

.main{
    margin: 0 auto;
    width: 1110px;
}

.slider{
    margin: 100px 0;
    color: #343434;
}
.slider-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.block-heading{
    display: flex;
}
.block-heading h1{
    margin-left: 30px; 
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
.block-heading img{
    object-fit: contain;
}
.slider-menu__buttons{
    display: flex;
}
.arrow {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid #005BC1;
  }
.arrow2{
    border-left: none;
}
.arrow:after {
    position: absolute;
    top: 40%;;
    left: 45%;
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-left: 1px solid #005BC1;
    border-bottom: 1px solid #005BC1;
    transform: rotate(45deg);
}
.arrow2:after{
    transform: rotate(225deg);
    left: 35%;
}
.arrow:hover{
    cursor: pointer;
    background-color: #005BC1;
}
.arrow:hover:after{
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.slider{
    overflow: hidden;
}
.slider__blocks{
    display: flex;
    overflow: hidden;
    transition: .4s ease-out;
}
.slider__block{
    display: inline-block;
    list-style: none;
    position: relative;
    width: 540px;
    height: 400px;
    margin-right: 30px;
}
.slider__block img{
    width: 540px;
    height: 100%;
    object-fit: cover;
}
.slider__block__text{
    width: 250px;
    box-sizing: border-box;
    padding: 20px 25px;
    position: absolute;
    color: #343434;
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    right: 35px;
    bottom: 35px;
}
.slider__block__text h1{
    font-size: 18px;
    font-weight: lighter;
}
.slider__block__text p{
    font-size: 14px;
}

.rent{
    color: #343434;

}
.rent-heading{
    margin-bottom: 40px;
}
.rent_blocks{
    display: flex;
}
.rent_block-text{
    width: 400px;
    padding: 80px 50px 80px 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.rent_block-description{
    border: 2px solid #005BC1;
    padding: 30px;
    margin-left: auto;
}
.description-header{
    display: flex;
    justify-content: space-between;
}
.description-header h1{
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.description-content{
    display: flex;
    justify-content: space-between;
}
.description-list{
    margin-left: 20px;
}
.description-list h1{
    font-family: 'Oswald', sans-serif;
    margin: 20px 0;
    font-size: 16px;
}
.description-list ul{
    margin-left: 20px;
}
.description-list ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 10px; 
}
.description-content img{
    width: 200px;
}

.news{
    margin: 100px 0;
    color: #343434;
}
.news-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.news-menu__button{
    box-sizing: border-box;
    padding: 10px 34px;
    background-color: #005BC1;
    border: 1px solid #005BC1;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
.news-menu__button:hover{
    background-color: #ffffff;
    color: #005BC1;
}
.news__blocks{
    display: flex;
    color: #343434;
}
.news__blocks-first{
    width: 540px;
    display: flex;
}
.news__blocks-first img{
    width: 255px;
    height: 255px;
}
.news__blocks-first__text{
    margin-left: 30px;
}
.news__blocks-first__text p{
    font-family: 'Open Sans', sans-serif;
    margin: 38px 0 20px 0;
    font-size: 14px;
}
.news__blocks-first__text a{
    font-size: 14px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
}
.news__blocks-first__text-header p{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #979797;
}
.news__blocks-first__text-header h1{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.news__blocks-second{
    width: 510px;
    margin-left: 60px;
}
.news__blocks-second__content{
    width: 225px;
}
.news__blocks-second__content h1{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.news__blocks-second__content p{
    font-size: 14px;
    margin: 25px 0;
    font-family: 'Open Sans', sans-serif;
}
.news__blocks-second__content-img{
    align-items: flex-end;
}
.news__blocks-second__content-img img{
    width: 128px;
    height: 115px;
}
.news__blocks-second__content-img p{
    margin: 0;
    color: #979797;
}


.footer{
    width: 100%;
    background-color: #005BC1;
}
.footer-pad{
    padding: 25px 0;
}
.footer-content{
    font-weight: lighter;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.footer__contact{
    padding-top: 35px;
    font-weight: 500;
}
.footer__contact h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.footer__nav{
    display: flex;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.footer__nav__block{
    margin-right: 110px;
}
.footer__nav__block p:nth-child(1){
    margin-bottom: 10px;
}