*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.conteiner{
    margin: 0 auto;
    width: 838px;
}
.first-screen{
    width: 100%;
    background: url(../img/Rectangle\ 2.png) no-repeat center;
    color: #ffffff;
    z-index: 1; 
}

.top__menu{
    background-color: rgba(00, 91, 193, 0.6);
    padding: 30px 0px;
    display: flex;
}
.top__menu img{
    position: absolute;
    width: 150px;
    left: 40px;
    top: 9px;
}

.top__menu__nav{
    width: 450px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
}
.top__menu__nav a{
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-screen__content{
    position: relative;
    padding: 100px 0 100px 0;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first-screen__content__text{
    z-index: 1;
    padding: 0 25% 0 10%;
}
.first-screen__content__text h1{
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.first-screen__content__text p{
    font-size: 16px;
    margin: 40px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
.first-screen__content__text button{
    color: #ffffff;
    border: 2px solid #ffffff;
    background: none;
    padding: 10px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    outline: none;
}
.first-screen__content__text button:hover{
    background: #ffffff;
    color: #005BC1;
    cursor: pointer;
    outline: none;
}
.first-screen__content__rect{
    background-color: rgba(00, 91, 193, 0.6);
    width: 300px;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.conteiner{
    width: 838px;
}

.main{
    margin: 0 auto;
    width: 838px;
    height: 200px;
}

.slider{
    margin: 100px 0;
    color: #343434;
}
.slider-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.block-heading{
    display: flex;
}
.block-heading h1{
    margin-left: 30px; 
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
.block-heading img{
    object-fit: contain;
}
.slider-menu__buttons{
    display: flex;
}
.arrow {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid #005BC1;
  }
.arrow2{
    border-left: none;
}
.arrow:after {
    position: absolute;
    top: 40%;;
    left: 45%;
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-left: 1px solid #005BC1;
    border-bottom: 1px solid #005BC1;
    transform: rotate(45deg);
}
.arrow2:after{
    transform: rotate(225deg);
    left: 35%;
}
.arrow:hover{
    cursor: pointer;
    background-color: #005BC1;
}
.arrow:hover:after{
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.slider__blocks{
    display: flex;
    justify-content: space-between;
}
.slider__block{
    position: relative;
    width: 400px;
    height: 260px;
}
.slider__block img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__block__text{
    width: 150px;
    padding: 10px 20px;
    position: absolute;
    color: #343434;
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    right: 15px;
    bottom: 15px;
}
.slider__block__text h1{
    font-size: 18px;
    font-weight: lighter;
}
.slider__block__text p{
    font-size: 14px;
}

.rent{
    color: #343434;

}
.rent-heading{
    margin-bottom: 40px;
}
.rent_blocks{
    display: flex;
}
.rent_block-text{
    width: 400px;
    padding: 80px 50px 80px 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.rent_block-description{
    border: 2px solid #005BC1;
    padding: 30px;
}
.description-header{
    display: flex;
    justify-content: space-between;
}
.description-header h1{
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.description-content{
    display: flex;
    justify-content: space-between;
}
.description-list{
    margin-left: 20px;
}
.description-list h1{
    font-family: 'Oswald', sans-serif;
    margin: 20px 0;
    font-size: 16px;
}
.description-list ul{
    margin-left: 20px;
}
.description-list ul li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-top: 10px; 
}
.description-content img{
    width: 200px;
}